<div class="span12">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group) , :class => "btn btn-mini btn-primarypull-right")%>
  </div>
  <h2> <%= @group.title %> </h2>
  <p> <%= @group.description %> </p> 
</div>